<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mã xác minh tài khoản của bạn</title>
</head>
<body>
    <div class="container">
        <div style="border-style:solid; border-width:thin; border-color:#dadce0; border-radius:8px; padding:40px 20px" class="">
            <img src="" style="margin-bottom:16px" class="" alt="logo">
            <div style="font-family: 'Google Sans', sans-serif; border-bottom:thin solid #dadce0; color:rgba(0,0,0,0.87); line-height:32px; padding-bottom:24px; text-align:center; word-break:break-word">
                <div style="font-size:24px">Xác nhận mã khôi phục tài khoản của bạn</div>
            </div>
            <div style="font-family: Arial,sans-serif; font-size:14px; color:rgba(0,0,0,0.87); line-height:20px; padding-top:20px; text-align:left">
                Sử dụng mã này để xác minh và khôi phục cho tài khoản: <a style="font-weight:bold">.........</a>:<br>
                <div style="text-align:center;font-size:36px;margin-top:20px;line-height:44px">............</div>
                <br>Mã này có hiệu lực trong vòng 15 phút.
                <br>Vui lòng không tiết lộ mã này cho ai khác để bảo đảm an toàn cho tài khoản của bạn.
            </div>
        </div>
        <div style="font-family: Arial,sans-serif; color:rgba(0,0,0,0.54); font-size:11px; line-height:18px; padding-top:12px; text-align:center">
            <div style="direction:ltr">© 2024 Copyright</div>
        </div>
    </div>
</body>
</html>
